<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{cmd.human_readable_name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	  rel="stylesheet"
	  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	  crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	    crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <main>
	<div class="py-5 text-center">
	  <img class="d-block mx-auto mb-4"
	       src="" alt="" width="72" height="57">
	  <h2>{{cmd.human_readable_name}}</h2>
	  <p class="lead">{{cmd.help}}</p>
	</div>
	<div class="row g-5" >
	  <div class="col">
	    <form class="needs-validation" novalidate>
              <div class="row g-3 justify-content-center">

		<div class="col-md-8">
		  <label for="firstName" class="form-label">First name</label>
		  <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
		  <div class="invalid-feedback">
                    Valid first name is required.
		  </div>
		</div>
		<div class="col-md-8">
		  <label for="lastName" class="form-label">Last name</label>
		  <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
		  <div class="invalid-feedback">
                    Valid last name is required.
		  </div>
		</div>
	      </div>
	    </form>
	  </div>
	</div>
      </main>
    </div>
  </body>
</html>
