{% from 'macros.html' import required, parameter_title, input_type, optional_attr,
parameter_id, parameter_help, validation_feedback %}

<div class="row mb-3">
  <label for="{{parameter_id(param.name)}}"
	 class="form-label {{required(param.required)}} col-sm-3 col"
  >
    {{parameter_title(param.human_readable_name, param.required)}}
  </label>
  <div class="col-sm-9">
    <input {{input_type(param.value_type)|trim}}
	   class="form-control"
	   data-name="{{param.name}}"
	   {{optional_attr("data-decl", param.decl)}}
	   placeholder=""
	   value="{{param.default | default("", true)}}"
	   {{required(param.required)}}
    />

    {{parameter_help(param.help)}}
    {{validation_feedback("Invalid " + param.human_readable_name | label)}}
  </div>
</div>
